:root {

    /* Основные шрифты */
    --main-font: "roboto", sans-serif;
    --secondary-font: "raleway", sans-serif;
    /* Светлая тема текста */
    --light-txt-cl: #ffffff;
    /* Тёмная тема текста */
    --txt-cl: #757575;
    --title-cl: #212121;
    --accent-txt-cl: #2196f3;
    /* Светлая тема фона */
    --secondary-light-bg: #ffffff;
    --team-bg: #f5f4fa;
    /* Тёмная тема фона */
    --primary-dark-bg: #2f303a;
    --accent-bg-cl: #2196f3;
}

